.chat-rooms {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap: 20px;
    min-height: 20vh;
    padding-left: 0px;
}

.chat-room {
    width: 100%;
    background: #dadada;
    border-radius: 20px;
    list-style: none;
    text-align: center;
    cursor: pointer;
}
